<!DOCTYPE html>
<html>
  <head>
    <title>Alquimia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body class="login">
    <!--- Main Code --->
    <div id="app" class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 divLogin text-center">
          <img class="logoAlquimia" src="https://lh3.googleusercontent.com/-gIkKGx8rjXo/XFMhfX0Hq6I/AAAAAAAAGFc/UyqZt26LWyQLqmo3vdTvmWh1hnKwA1ztgCLcBGAs/s0/logoAlquimia.png" alt="logo alquimia">
          <h3>BIENVENIDO</h3>
          <!-- <div class="row">
            <div class="col-3">
              <hr>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Ingresa</span><br>con tus redes sociales</p>
            </div>
            <div class="col-3">
              <hr>
            </div>
          </div>
          <div>
            <button class="grpBtns btnWind" type="button" name="button"><i class="fab fa-2x fa-windows"></i></button>
            <button class="grpBtns btnGoog" type="button" name="button"><i class="fab fa-2x fa-google-plus-g"></i></button>
            <button class="grpBtns btnFb" type="button" name="button"><i class="fab fa-2x fa-facebook-f"></i></button>
          </div>
          <div class="row">
            <div class="col-5">
              <hr class="spcl">
            </div>
            <div class="col-2">
              <p>o</p>
            </div>
            <div class="col-5">
              <hr class="spcl">
            </div>
          </div> -->
          <div class="col-10 offset-1">
            <label for="user" class="alIzq">Usuario:</label><br>
            <input class="formAlq" type="text" name="user" v-model="user" id="user"><br>
            <label for="password" class="alIzq">Contraseña:</label><br>
            <input class="formAlq" type="password" name="password" v-model="password" id="password"><br>
            <button type="submit" name="continue" class="btnCont" @click="conexionCamunda">Continuar</button>
          </div>
          <div class="suggestions">
            <a href="#" class="text-decoration-none conoce">Conoce el demo de Alquimia</a><br>
            <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
      </div>
    </div>
    <!--- /Main Code --->
  </body>
</html>
